body{
  color: white;
  background-color: purple;
  text-align: center;
}
.content{
  text-align: left;
  margin-left: 150px;
}
a{
  color: white;
}
a:visited{
  color: white;
}
.menu li a:hover{
  background-color: black;
}
.menu ul {
   position: fixed;
   text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
}

.menu li{
  display: inline-block;
  text-transform: uppercase;
}
.menu li a{
   display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu #menuSelected{
  background-color: black;
}
::selection{
  background-color: black;
}
::moz-selection{
  background-color: black;
}
