body{
  color: white;
  background-color: purple;
  text-align: center;
}
a{
  color: white;
}
a:visited{
  color: white;
}
li a:hover{
  background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
}

li{
  float: left;
  display: block;
}
li a{
   display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#menuSelected{
  background-color: black;
}
